@import url("https://fonts.googleapis.com/css2?family=Skranji&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ribeye+Marrow&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,700&display=swap");
* {

  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: #0e2127;
  font-family: "Skranji", cursive;
  text-decoration: none;
}


.box-1{
  position: absolute;
width: 100%;
height: 60px;
left: 0px;
top: 64px;

font-family: "Poppins", sans-serif;
font-style: italic;
font-weight: 500;
font-size: 18px;
line-height: 27px;

align-items: center;
text-align: center;

color: #DBFF00;

background: rgba(9, 14, 21, 0.5);
}
#about{
  margin: 0em;

  font-family: "Ribeye Marrow", cursive;
  color: #00ff58;
  text-align:center;
}
#o2 {
  position: absolute;
width: 540px;
height: 340px;
left: 0px;
top: 124px;

border-radius: 0;
}

#ai{
  position: absolute;
width: 540px;
height: 340px;
left: 538px;
top: 124px;
}

#fnaf1{
  position: absolute;
width: 438px;
height: 340px;
left: 1078px;
top: 124px;
}
#pubg{
  position: absolute;
  width: 540px;
  height: 340px;
  left: 0px;
  top: 464px;
  
  border-radius: 0;
}
#cod{
  position: absolute;
  width: 540px;
  height: 340px;
  left: 538px;
  top: 464px;  
  border-radius: 0;
}
#re7{
  position: absolute;
  width: 438px;
  height: 341px;
  left: 1078px;
  top: 464px;  
  border-radius: 0;

}
#o1{
position: absolute;
  width: 438px;
  height: 340px;
  left: 1078px;
  top: 804px;  
  border-radius: 0;
}

#soma{
  position: absolute;
    width: 540px;
    height: 340px;
    left: 538px;
    top: 804px;  
    border-radius: 0;
}

#csgo
{ 
  position: absolute;
  width: 540px;
  height: 340px;
  left: 0px;
  top: 804px;
}
